<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moxi.dao.ScoreMapper">
    
    <insert id="insertScoreInfo">
        INSERT INTO schema.score
        (series_number, apply_number, position_code, scores, total_score, rank_condition)
        VALUES
        (#{series_number}, #{apply_number}, #{position_code}, #{scores}, #{total_score}, #{rank})
    </insert>
</mapper>