<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moxi.dao.TesterMapper">
    <insert id="insertTester">
        INSERT INTO schema.user_apply
        (series_number, id_number, password, name, phone_number, account)
         VALUES
         ( #{seriesNumber}, #{IDCard}, #{password}, #{name}, #{phoneNumber}, #{account})
    </insert>

    <select id="selectTesterExists"  resultType="java.lang.Integer">
        select count(*) from schema.user_apply
        where series_number = #{series_number}
        and id_number = #{id_number}
    </select>

    <select id="selectAccountExists" resultType="java.lang.Integer">
        SELECT count(*) from schema.user_apply
        where account = #{account}
    </select>

    <select id="selectTesterByAccountAndPassword" resultType="com.moxi.pojo.Tester" resultMap = "testMap">
        SELECT * from schema.user_apply
        where account = #{account}
        and password = #{password}
    </select>

    <insert id="saveTesterInfo">
        insert into schema.test_information
        (series_number, apply_number, name, sex, id_type, id_number, birth_date, nation, politics,
        marriage, reward, education, education_level, major, school, commercement, major_level, note,
        family_member, education_history, phone_number, telephone, photo)
        VALUES
        (#{seriesNumber}, #{applyNumber}, #{name}, #{gender}, #{cardFormat}, #{cardId}, #{birth}, #{nation}, #{politics},
        #{marriage}, #{award}, #{education}, #{educationLevel}, #{major}, #{school}, #{afterSchool}, #{majorLevel}, #{note},
        #{familyNumber}, #{passLife}, #{phoneNumber}, #{teleNumber}, #{photoNumber})
    </insert>

    <select id="getIfPersonalInfoExit" resultType="java.lang.Integer">
        select count(*) from schema.test_information
        where series_number = #{series_number}
        and id_number = #{id_number}
    </select>
    

    <resultMap type="com.moxi.pojo.Tester" id="testMap">
        <result property="seriesNumber" column="series_number"></result>
        <result property="name" column="name"></result>
        <result property="IDCard" column="id_number"></result>
        <result property="account" column="account"></result>
        <result property="password" column="password"></result>
        <result property="phoneNumber" column="phone_number"></result>
    </resultMap>
</mapper>
