<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moxi.dao.TesterMapper">
    <insert id="insertTester">
        INSERT INTO schema.user_apply
        (series_number, id_number, password, name, phone_number, account)
         VALUES
         ( #{seriesNumber}, #{IDCard}, #{password}, #{name}, #{phoneNumber}, #{account})
    </insert>

    <select id="selectTesterExists"  resultType="java.lang.Integer">
        select count(*) from schema.user_apply
        where series_number = #{series_number}
        and id_number = #{id_number}
    </select>

    <select id="selectAccountExists" resultType="java.lang.Integer">
        SELECT count(*) from schema.user_apply
        where account = #{account}
    </select>

    <select id="selectTesterByAccountAndPassword" resultType="com.moxi.pojo.Tester" resultMap = "testMap">
        SELECT * from schema.user_apply
        where account = #{account}
        and password = #{password}
    </select>

    <insert id="saveTesterInfo">
        insert into schema.test_information
        (series_number, apply_number, name, sex, id_type, id_number, birth_date, nation, politics,
        marriage, reward, education, education_level, major, school, commercement, major_level, note,
        family_member, education_history, phone_number, telephone, photo)
        VALUES
        (#{seriesNumber}, #{applyNumber}, #{name}, #{gender}, #{cardFormat}, #{cardId}, #{birth}, #{nation}, #{politics},
        #{marriage}, #{award}, #{education}, #{educationLevel}, #{major}, #{school}, #{afterSchool}, #{majorLevel}, #{note},
        #{familyNumber}, #{passLife}, #{phoneNumber}, #{teleNumber}, #{photoNumber})
    </insert>

    <select id="getIfPersonalInfoExit" resultType="java.lang.Integer">
        select count(*) from schema.test_information
        where series_number = #{series_number}
        and id_number = #{id_number}
    </select>
    
    <update id="updatePassword">
        UPDATE schema.user_apply set password = #{password}
        where series_numbe = #{series_number}
        and account = #{account}
    </update>
    
    <select id="getPersonalInfo" resultMap = "testerInfo">
        SELECT * from schema.test_information
        where series_number = #{series_number}
        and id_number = #{id_number}
    </select>
    
    <update id="updatePicFailure">
        UPDATE schema.test_information set check_status = #{check_status}
        where id_number = #{id_number}
    </update>

    <update id="updatePicLoad">
        UPDATE schema.test_information set photo = #{photo}
        where id_number = #{id_number}
    </update>
    

    <resultMap type="com.moxi.pojo.Tester" id="testMap">
        <result property="seriesNumber" column="series_number"></result>
        <result property="name" column="name"></result>
        <result property="IDCard" column="id_number"></result>
        <result property="account" column="account"></result>
        <result property="password" column="password"></result>
        <result property="phoneNumber" column="phone_number"></result>
    </resultMap>

    <resultMap id="testerInfo" type="com.moxi.pojo.PersonalInfomation">
        <result property="seriesNumber" column="series_number" />
        <result property="applyNumber" column="apply_number" />
        <result property="name" column="name" />
        <result property="gender" column="sex" />
        <result property="cardFormat" column="id_type" />
        <result property="cardId" column="id_number" />
        <result property="birth" column="birth_date" />
        <result property="nation" column="nation" />
        <result property="politics" column="politics" />
        <result property="marriage" column="marriage" />
        <result property="award" column="reward" />
        <result property="education" column="education" />
        <result property="educationLevel" column="education_level" />
        <result property="major" column="major" />
        <result property="school" column="school" />
        <result property="afterSchool" column="commercement" />
        <result property="majorLevel" column="major_level" />
        <result property="note" column="note" />
        <result property="familyNumber" column="family_member" />
        <result property="passLife" column="education_history" />
        <result property="phoneNumber" column="phone_number" />
        <result property="teleNumber" column="telephone" />
        <result property="status" column="check_status" />
        <result property="photoNumber" column="photo" />
    </resultMap>
</mapper>
